[Interface]
Address = {{server.ip_address}}/24
SaveConfig = true
PreUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{out_interface}} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{out_interface}} -j MASQUERADE
ListenPort = {{server.public_port}}
PrivateKey = {{server.private_key}}
{{#clients}}

[Peer]
# {{name}}
PublicKey = {{public_key}}
AllowedIPs = {{ip_address}}/32
{{/clients}}
